fastapi
uvicorn
pydantic-settings
python-dotenv
motor
groq
openai
langchain
langchain-groq
langchain-openai
pydantic
langchain-community 
langchain-mongodb 
pypdf
tiktoken
motor
sentence-transformers
langchain-huggingface